.ant-pagination-item {
  height: 32px !important;
  width: 32px;
  font-family: "Roboto-Medium" !important;
}
.ant-pagination-item:hover {
  height: 32px !important;
  width: 32px;
  font-family: "Roboto-Medium" !important;
  color: black;
  background-color: white !important;
}

.ant-pagination-item-ellipsis {
  color: white !important;
}

.anticon-right svg {
  fill: white !important;
}

.anticon-left svg {
  fill: white !important;
}
